global-reset()

//VARIABLES
//Color Values
$yellow     = #ffd200
$gray-light = #d2d2d2
$blue-navy  = #004b76
$brown-dark = #391c0c
$eggshell   = #ebf3f5

//HELPER CLASSES
.hide
  display none
.clearfix
  clearfix()

body
  font 16px/1.5 "Lucida Sans", "Lucida Sans Unicode", sans-serif
  background url(../img/bg.jpg) no-repeat top center #0e0703

h2
  font-size 26px
  margin-bottom 20px

h3
  font-size     20px
  margin-bottom 20px
  color         $yellow


.nav-wrap
  background url(../img/bg-nav.png) repeat-x
  height     72px
  width      100%

.nav-main
  width 962px
  margin 0 auto
  &>li
    width      240px
    float      left
    text-align center
    &>a
      width       100%
      height      100%
      display     block
      font-size   18px
      color       $blue-navy
      text-shadow 0 1px 0 #fff

.sns-link
  background   url(../img/sns-links.png)
  display      inline-block
  margin-right 30px
  text-indent -9999px
  &.facebook
    width               12px
    height              24px
    background-position 0 0
    &:hover
      background-position -33px 0
  &.twitter
    width 25px
    height 22px
    background-position 0 -24px
    &:hover
      background-position -33px -24px
  &.reddit
    width 33px
    height 27px
    background-position 0 -47px
    &:hover
      background-position -33px -47px


.wrap
  width 1140px
  margin 0 auto

.logo-main
  background  url(../img/logo-main.png) no-repeat
  width       528px
  height      153px
  text-indent -9999px
  margin      0 auto

.section-signup
  background url(../img/bg-wall.png) no-repeat
  width      719px
  height     412px
  text-align center
  color      $brown-dark
  position   relative


.btn-submit
  width       149px
  height      44px
  background  url(../img/btn-submit.png) no-repeat
  text-indent -9999px
  display     inline-block
  &:hover
    background-position 0 100%

.btn-close
  width      23px
  height     23px
  background url(../img/btn-close.png) no-repeat
  position   absolute
  top        83px
  right      41px


.input-wrap
  width 468px
  margin 0 auto

.text-input
  border-radius 4px
  background    #fff
  box-shadow    0 4px #bdbdbd
  border        solid 1px $yellow
  font-size     18px
  display       inline-block
  width         307px
  height        41px
  &:focus
  &:active
    box-shadow none


.feature-item
  text-align   center
  display      inline-block
  margin-right 115px

.slideshow-item
  display inline-block
  margin-right 10px

.footer-wrap
  width      100%
  height     126px
  background $eggshell
  color      #a2a2a2
  font-size 11px
  font-family 'Lucida Sans Unicode'

.footer
  background url(../img/footer.png) no-repeat


