global-reset()

//VARIABLES
//Color Values
$yellow     = #ffd200
$gray-light = #d2d2d2
$blue-navy  = #004b76
$blue       = #00c3ff
$brown-dark = #391c0c
$eggshell   = #ebf3f5

hideOnMobile()
  @media only screen and (max-width:47.9em)
    display none

showOnMobile()
  @media only screen and (max-width:47.9em)
    display block



//BASE TYPOGRAPHY
body
  font       normal 16px/1.5 "Lucida Sans", "Lucida Sans Unicode", sans-serif
  background #0e0703
  color      $gray-light
  @media screen and (max-width:47.9em)
    background url(../img/bg-small.jpg) no-repeat center 71px #211007

h2
  font-size 26px
  margin-bottom 20px

h3
  font-size     20px
  margin-bottom 20px
  color         $yellow
  @media screen and (max-width:47.9em)
    margin-bottom 0

i
  font-style normal

//Icons
.home
  background   url(../img/ico-home.png) no-repeat
  height       22px
  padding-left 29px
  a:hover > &
  li.active &
    background-position 0 -22px


///NAVIGATION
.nav-wrap
  background url(../img/bg-nav.png) repeat-x
  height     72px
  width      100%
  position   fixed
  top        0
  z-index    5

.nav-main
  width    962px
  margin   0 auto
  position relative
  z-index  2
  @media only screen and (max-width:71.250em)
    width 800px
  @media only screen and (max-width:47.9em)
    width 100%
  &>li
    width       240px
    height      71px
    box-sizing  border-box
    float       left
    text-align  center
    line-height 72px
    border-left solid 1px #cadce7
    box-shadow  -1px 0 0 #fff
    &.active
      a
        color $blue
    @media only screen and (max-width:71.250em)
      width 200px
    &.last
      border-right solid 1px #cadce7
      @media only screen and (max-width:47.9em)
        float       right
        border-left none
        box-shadow  none
        width       172px
    &.desktop-link
      hideOnMobile()
    &>a
      width           100%
      height          100%
      display         block
      font-size       18px
      color           $blue-navy
      text-shadow     0 1px 0 #fff
      text-decoration none
      position relative
      &:hover
        color $blue
      &.sns-link
        display inline-block

.nav-mobile
  position   fixed
  top        72px
  left       0
  right      0
  z-index    1
  height     0
  transition height 0.2s ease-out
  overflow   hidden
  &.active
    height 204px
  &>li
    background $blue-navy
    width      100%
    border-bottom solid 1px #012a41
    &>a
      width           100%
      height          100%
      padding         20px
      display         block
      font-size       18px
      color           $gray-light
      text-decoration none
    &:hover
      background $yellow
      &>a
        color $blue-navy

#mobile-toggle
  border-right solid 1px #cadce7
  box-shadow   -1px 0 0 #fff
  width        83px
  display      none
  &>a
    background url(../img/btn-menu.png) no-repeat
    width      35px
    height     24px
    display    block
    position   relative
    top        24px
    left       24px
    &:hover
    &.active
      background-position 0 100%
  showOnMobile()

.sns-link
  background   url(../img/sns-links.png)
  margin-right 30px
  margin-top   22px
  text-indent  -9999px
  &.facebook
    width               12px
    height              24px
    background-position 0 0
    &:hover
      background-position -33px 0
  &.twitter
    width               25px
    height              25px
    background-position 0 -25px
    &:hover
      background-position -33px -25px
  &.reddit
    width               33px
    height              27px
    background-position 0 -50px
    margin-right        0
    &:hover
      background-position -33px -50px



//MAIN CONTENT
.content-wrap
  width  1140px
  margin 0 auto 80px
  @media only screen and (max-width:71.250em)
    width 656px
  @media only screen and (max-width:47.9em)
    width  320px

.logo-main
  background  url(../img/logo-main.png) no-repeat
  width       528px
  height      153px
  text-indent -9999px
  margin      0 auto 24px
  @media only screen and (max-width:47.9em)
    background url(../img/logo-small.png) no-repeat
    width      310px
    height     90px

.section-hero
  height      644px
  padding-top 92px
  position    relative
  background  url(../img/bg.png) no-repeat center 72px
  z-index     2
  @media only screen and (max-width:47.9em)
    height 297px
    background none

.warrior
  position absolute
  width 215px
  height 124px
  background url(../img/warrior.gif) no-repeat
  bottom 0
  right -100px
  hideOnMobile()
.angel
  position   absolute
  width      104px
  height     96px
  top        48px
  left       -202px
  background url(../img/angel.gif) no-repeat
  hideOnMobile()

//VIDEO SECTION
.section-video
  background  url(../img/bg-video.jpg) no-repeat
  width       654px
  height      397px
  top         283px
  left        50%
  margin-left -(@width/2)
  box-sizing  border-box
  padding     7px 7px 0
  position    absolute
  z-index     1
  display     none
  @media only screen and (max-width:47.9em)
    display     block
    width       323px
    height      195px
    background  url(../img/bg-video-small.png) no-repeat
    margin-left -162px
    top         194px
    padding     4px 4px 0

.embed-container
  position       relative
  padding-bottom 56.25%
  padding-top    30px
  height         0
  overflow       hidden
  max-width      100%
  height         auto
  @media only screen and (max-width:47.9em)
    padding-top 12px

.embed-container > iframe
.embed-container > object
.embed-container > embed
  position absolute
  top      0
  left     0
  width    100%
  height   100%



//SIGNUP SECTION
.section-signup
  background url(../img/bg-wall.png) no-repeat
  width      686px
  height     411px
  text-align center
  color      $brown-dark
  position   relative
  box-sizing border-box
  padding    130px 0 0
  margin     0 auto
  z-index    2
  p
    width     400px
    margin    0 auto 24px
    font-size 18px
  hideOnMobile()

.post-signup
  position absolute
  top      130px
  left     147px


.btn-close
  width      23px
  height     24px
  background url(../img/btn-close.png) no-repeat
  position   absolute
  top        83px
  right      41px
  cursor     pointer
  &:hover
    background-position 0 100%

.input-wrap
  width 470px
  margin 0 auto
  @media screen and (max-width:47.9em)
    width 100%


.text-input
  border-radius  4px
  background     #ebebeb
  box-shadow     inset 0 4px  #bdbdbd
  border         solid 1px $yellow
  font-size      18px
  display        inline-block
  width          309px
  height         42px
  padding-left   16px
  box-sizing     border-box
  vertical-align middle
  margin-right   5px
  font-family    "Lucida Sans", "Lucida Sans Unicode", sans-serif
  &:focus
  &:active
    box-shadow none
    outline    none
    background #fff
  &.error
    border-color #f65701

.input-error
  color      #f65701
  text-align left


.btn-submit
  width       149px
  height      44px
  background  url(../img/btn-submit.png) no-repeat
  text-indent -9999px
  display     inline-block
  border      none
  cursor      pointer
  @media screen and (max-width:47.9em)
    display block
    margin 20px auto 0
  &:hover
    background-position 0 100%
  &:active
  &:focus
    outline none

.btn-watch-video
  width       149px
  height      44px
  background  url(../img/btn-video.png) no-repeat
  text-indent -9999px
  display     inline-block
  border      none
  cursor      pointer
  &:hover
    background-position 0 100%
  &:active
  &:focus
    outline none

.section-signup-secondary
  background url(../img/bg-ground.png) no-repeat
  height     0
  margin-top -32px
  overflow hidden
  position relative
  showOnMobile()
  @media screen and (max-width:47.9em)
    background none
    height auto
    margin 0

.secondary-signup
  text-align center
  padding    70px 0 0
  width      600px
  height     150px
  position   relative
  margin     0 auto
  p
    margin-bottom 20px
    color         white
    padding 0 20px
  @media screen and (max-width:47.9em)
    padding 50px 0 0
    width   400px
    height  200px


.secondary-post-signup
  position absolute
  top      60px
  color    white
  h2
    margin-bottom 10px


//FEATURES
.feature-list
  padding 90px 10px 70px
  @media screen and (max-width:71.250em)
    padding 90px 0 70px
  @media screen and (max-width:47.9em)
    padding 50px 0 0

.feature-item
  text-align   center
  display      inline-block
  margin-right 105px
  position     relative
  &.last
    margin-right 0
  @media screen and (max-width:71.250em)
    text-align    left
    margin-right  0
    margin-bottom 60px
    display       block
    clearfix()

  @media screen and (max-width:47.9em)
    margin     0 auto 60px
    text-align center
    &.last
      margin-right auto

.feature-image
  @media screen and (max-width:71.250em)
    float left
  @media screen and (max-width:47.9em)
    float none


.feature-text
  width   290px
  margin  0 auto
  padding 28px 0 0
  @media screen and (max-width:71.250em)
    position absolute
    padding  50px 20px 0 0
    left     372px
  @media screen and (max-width:47.9em)
    width    100%
    position relative
    padding  18px 0 0
    left     auto


//SLIDESHOW
.slideshow-list
  text-align center
  overflow   hidden

.slideshow-item
  float left
  margin-left  10px
  border        solid 3px #404040
  border-radius 2px
  cursor        pointer
  position      relative
  width         277px
  height        159px
  box-sizing    border-box
  transition    border-color 0.2s ease-out
  &:hover
    border-color $yellow
  &.first
    margin-left 0
  @media screen and (max-width:71.250em)
    margin 0 0 50px 70px
    &:nth-child(odd)
      margin-left 0
  @media  screen and (max-width:47.9em)
    margin 0 auto 18px
    float none
    &:nth-child(odd)
      margin-left auto
    &.first
      margin-left auto



.slideshow-link
  display block
  width 100%
  height 100%
  &>img
    position absolute
    display  block
    width    100%
    height   100%


.thumb-overlay
  background url(../img/thumb-overlay.png) no-repeat
  position   absolute
  transition opacity 0.2s ease-out
  opacity    0
  z-index    1
  width      100%
  height     100%
  .slideshow-link:hover &
    opacity 1

//FOOTER
.footer-wrap
  box-sizing  border-box
  width       100%
  height      126px
  padding-top 37px
  background  $eggshell
  color       #a2a2a2
  font-size   11px
  font-family 'Lucida Sans Unicode', sans-serif
  text-align  center

.footer
  background   url(../img/footer.png) no-repeat
  padding-left 117px
  width        660px
  height       44px
  line-height  44px
  box-sizing   border-box
  margin       0 auto
  @media screen and (max-width:47.9em)
    width               100%
    line-height         2
    background-position 30px 0
    padding             0 30px 0 160px
    text-align          left


//HELPER CLASSES
.hide
  display none
.clearfix
  clearfix()

//COLORBOX
#colorbox
#cboxOverlay
#cboxWrapper
  position absolute
  top      0
  left     0
  z-index  9999
#cboxWrapper
  max-width none
#cboxOverlay
  position   fixed
  width      100%
  height     100%
  background #000
#cboxMiddleLeft
#cboxBottomLeft
  clear left
#cboxContent
  position relative
  background url(../img/modal-background.png) no-repeat
#cboxLoadedContent
  overflow auto
  -webkit-overflow-scrolling touch
#cboxTitle
  margin 0
#cboxLoadingOverlay
#cboxLoadingGraphic
  position absolute
  top      0
  left     0
  width    100%
  height   100%
#cboxPrevious
#cboxNext
#cboxClose
  cursor      pointer
  border      0
  padding     0
  margin      0
  overflow    visible
  position    absolute
  text-indent -99999px
  outline     none

#cboxClose
  background url(../img/modal-close.png) no-repeat
  width      85px
  height     24px
  right      0
  top        -31px
  &:hover
    background-position 0 100%
#cboxPrevious
#cboxNext
  background url(../img/modal-arrows.png) no-repeat 0 0
  width      65px
  height     120px
  top        50%
  margin-top -60px
#cboxPrevious
  left 15px
  &:hover
    background-position 0 100%
#cboxNext
  right               15px
  background-position 100% 0
  &:hover
    background-position 100% 100%


.cboxPhoto
  margin                 auto
  border                 0
  display                block
  max-width              none
  -ms-interpolation-mode bicubic
#colorbox
#cboxContent
#cboxLoadedContent
  box-sizing content-box
